#js-floating-area.p-floating-area
  .p-floating-area__inner
    p.p-floating-area__number
      a(href='tel:0120-470-470')
        +picture('/images/common/floating_freedial.png', '24時間365日ご相談無料 セレモアの無料相談ダイヤル 0120-470-470')
          +source(sm, '/images/common/floating_freedial_sp.png')
    p.p-floating-area__txt
      +picture('/images/common/floating_txt_01.png', '故人様のご搬送、葬儀場／安置所のご紹介、お葬儀の見積り等、なんでもお気軽にご相談ください。')
        +source(sm, '/images/common/floating_txt_01_sp.png')
    .p-floating-area__btns
      p
        a.c-btn.c-btn--default.u-blink(href='')
          | お葬儀の
          br
          | お見積り
      p
        a.c-btn.c-btn--default.u-blink(href='')
          | 資料請求
          br
          | お問合せ
      p
        a.c-btn.c-btn--danger.u-blink(href='') お急ぎの方
