.p-side-funeral
  section.p-side-funeral__block
    h2.p-side-funeral__ttl.js-accordion-btn(data-accordion='#side-links-sm', data-mq='sm') セレモアの葬儀
    #side-links-sm.js-accordion-body.p-side-funeral__accordion(data-mq='sm')
      h3.p-side-funeral-links__ttl セレモアの葬儀
      .p-side-funeral-links
        ul.p-side-funeral-links__list
          li
            a(href='') 経験豊富な葬祭スタッフ
          li
            a(href='') 對面型の無料ご相談窓口
          li.p-side-funeral-links__sub
            a(href='') －店頭相談［セレモピアン］
          li.p-side-funeral-links__sub
            a(href='') －訪問相談
          li
            a(href='') 周辺サービスとの連携
          li
            a(href='') 創業50年の葬儀実績
      h3.p-side-funeral-links__ttl 関連ページ
      .p-side-funeral-links
        ul.p-side-funeral-links__list
          li
            a(href='') 式場を探す
      h3.p-side-funeral-links__ttl 関連サイト
      .p-side-funeral-links
        ul.p-side-funeral-links__list
          li.p-side-funeral-links__icon
            a(href='') セレモアホールディングス
          li.p-side-funeral-links__icon
            a(href='') セレモアの社葬公式サイト  
          li.p-side-funeral-links__icon
            a(href='') セレモピアン公式サイト            

.p-side-funeral
  include _side_contact_banner.pug