.p-side-price
  section.p-side-price__block
    h2.p-side-price__ttl.js-accordion-btn(data-accordion='#side-links-sm', data-mq='sm') 葬儀プランと費用
    #side-links-sm.js-accordion-body.p-side-price__accordion(data-mq='sm')
      h3.p-side-price-links__ttl セレモアの葬儀プラン
      .p-side-price-links
        ul.p-side-price-links__list
          li
            a(href='') 家族葬
          li
            a(href='') 一般葬
          li
            a(href='') 一日葬［パック葬］
          li
            a(href='') 火葬式［パック葬］
          li.p-side-price-links__icon
            a(href='') 社葬・合同葬 
          li
            a(href='') その他のお葬儀   
          li
            a(href='') お別れの会・偲ぶ会   
          li
            a(href='') 海への葬送                
      h3.p-side-price-links__ttl お葬儀費用
      .p-side-price-links
        ul.p-side-price-links__list
          li
            a(href='') お葬儀費用の内訳
          li
            a(href='') オプション費用
          li
            a(href='') お布施について
          li
            a(href='') お支払い方法
          li
            a(href='') お葬儀費用の割引制度 
          li
            a(href='') お葬儀の流れ   
      h3.p-side-price-links__ttl 関連サイト
      .p-side-price-links
        ul.p-side-price-links__list
          li.p-side-price-links__icon
            a(href='') セレモアの社葬
          li.p-side-price-links__icon
            a(href='') ご相談窓口・セレモピアン                               
.p-side-price
  include _side_contact_banner.pug