section.p-side-area__block
  h2.p-side-area__ttl.js-accordion-btn(data-accordion='#side-area-sm', data-mq='sm') エリア名で選ぶ
  #side-area-sm.js-accordion-body.p-side-area__accordion(data-mq='sm')
    .p-side-area-area-search
      dl.p-side-area-area-search__block
        dt.js-accordion-btn.p-side-area-area-search__ttl(data-accordion='#side-area-tokyo', data-mq='lg')
          | 東京都（23区）
          span.js-accordion-btn__toggle
        dd#side-area-tokyo.js-accordion-body(data-mq='lg')
          ul.p-side-area-area-search__list
            li
              a(href='') 荒川区
            li
              a(href='') 足立区
            li
              a(href='') 板橋区
            li
              a(href='') 江戸川区
            li
              a(href='') 大田区
            li
              a(href='') 葛飾区
            li
              a(href='') 北区
            li
              a(href='') 江東区
            li
              a(href='') 品川区
            li
              a(href='') 新宿区
            li
              a(href='') 渋谷区
            li
              a(href='') 墨田区
            li
              a(href='') 杉並区
            li
              a(href='') 世田谷区
            li
              a(href='') 台東区
            li
              a(href='') 中央区
            li
              a(href='') 千代田区
            li
              a(href='') 豊島区
            li
              a(href='') 中野区
            li
              a(href='') 練馬区
            li
              a(href='') 文京区
            li
              a(href='') 港区
            li
              a(href='') 目黒区
      dl.p-side-area-area-search__block
        dt.js-accordion-btn.p-side-area-area-search__ttl(data-accordion='#side-area-tokyo-other', data-mq='lg')
          | 東京都（市町村）
          span.js-accordion-btn__toggle
        dd#side-area-tokyo-other.js-accordion-body(data-mq='lg')
          ul.p-side-area-area-search__list
            li
              a(href='') あきる野市
            li
              a(href='') 昭島市
            li
              a(href='') 稲城市
            li
              a(href='') 青梅市
            li
              a(href='') 清瀬市
            li
              a(href='') 国分寺市
            li
              a(href='') 国立市
            li
              a(href='') 小平市
            li
              a(href='') 小金井市
            li
              a(href='') 狛江市
            li
              a(href='') 多摩市
            li
              a(href='') 立川市
            li
              a(href='') 調布市
            li
              a(href='') 西東京市
            li
              a(href='') 八王子市
            li
              a(href='') 羽村市
            li
              a(href='') 日の出町
            li
              a(href='') 日野市
            li
              a(href='') 三鷹市
            li
              a(href='') 瑞穂町
            li
              a(href='') 武蔵村山市
            li
              a(href='') 武蔵野市
            li
              a(href='') 町田市
            li
              a(href='') 東久留米市
            li
              a(href='') 東村山市
            li
              a(href='') 東大和市
            li
              a(href='') 府中市
            li
              a(href='') 福生市
      dl.p-side-area-area-search__block
        dt.js-accordion-btn.p-side-area-area-search__ttl(data-accordion='#side-area-saitama', data-mq='lg')
          | 埼玉県
          span.js-accordion-btn__toggle
        dd#side-area-saitama.js-accordion-body(data-mq='lg')
          ul.p-side-area-area-search__list
            li
              a(href='') 大宮区
            li
              a(href='') 見沼区
            li
              a(href='') 中央区
            li
              a(href='') 桜区
            li
              a(href='') 浦和区
            li
              a(href='') 岩槻区
            li
              a(href='') 上尾市
            li
              a(href='') 朝霞市
            li
              a(href='') 入間市
            li
              a(href='') 桶川市
            li
              a(href='') 春日部市
            li
              a(href='') 加須市
            li
              a(href='') 川口市
            li
              a(href='') 川越市
            li
              a(href='') 北本市
            li
              a(href='') 行田市
            li
              a(href='') 熊谷市
            li
              a(href='') 鴻巣市
            li
              a(href='') 越谷市
            li
              a(href='') 坂戸市
            li
              a(href='') 狭山市
            li
              a(href='') 志木市
            li
              a(href='') 草加市
            li
              a(href='') 鶴ヶ島市
            li
              a(href='') 所沢市
            li
              a(href='') 新座市
            li
              a(href='') 飯能市
            li
              a(href='') 東松山市
            li
              a(href='') 日高市
            li
              a(href='') 深谷市
            li
              a(href='') 富士見市
            li
              a(href='') ふじみ野市
            li
              a(href='') 三郷市
            li
              a(href='') 蕨市
            li
              a(href='') 入間郡
            li
              a(href='') 北葛飾郡
            li
              a(href='') 戸田市
            li
              a(href='') 久喜市
            li
              a(href='') 滑川町
            li
              a(href='') 嵐山町
            li
              a(href='') 小川町
            li
              a(href='') 川島町
            li
              a(href='') 吉見町
            li
              a(href='') ときがわ町
            li
              a(href='') 東秩父村
            li
              a(href='') 蓮田市
            li
              a(href='') 白岡市
            li
              a(href='') 杉戸町
      dl.p-side-area-area-search__block
        dt.js-accordion-btn.p-side-area-area-search__ttl(data-accordion='#side-area-kanagawa', data-mq='lg')
          | 神奈川県
          span.js-accordion-btn__toggle
        dd#side-area-kanagawa.js-accordion-body(data-mq='lg')
          ul.p-side-area-area-search__list
            li
              a(href='') 旭区
            li
              a(href='') 青葉区
            li
              a(href='') 泉区
            li
              a(href='') 磯子区
            li
              a(href='') 神奈川区
            li
              a(href='') 金沢区
            li
              a(href='') 港北区
            li
              a(href='') 港南区
            li
              a(href='') 都筑区
            li
              a(href='') 鶴見区
            li
              a(href='') 戸塚区
            li
              a(href='') 西区
            li
              a(href='') 南区
            li
              a(href='') 緑区
            li
              a(href='') 中区
            li
              a(href='') 麻生区
            li
              a(href='') 川崎区
            li
              a(href='') 幸区
            li
              a(href='') 多摩区
            li
              a(href='') 高津区
            li
              a(href='') 中原区
            li
              a(href='') 宮前区
            li
              a(href='') 厚木市
            li
              a(href='') 愛甲郡
            li
              a(href='') 伊勢原市
            li
              a(href='') 海老名市
            li
              a(href='') 鎌倉市
            li
              a(href='') 座間市
            li
              a(href='') 相模原市
            li
              a(href='') 逗子市
            li
              a(href='') 茅ヶ崎市
            li
              a(href='') 中郡
            li
              a(href='') 平塚市
            li
              a(href='') 藤沢市
            li
              a(href='') 大和市
            li
              a(href='') 横須賀市
            li
              a(href='') 小田原市
            li
              a(href='') 秦野市
      dl.p-side-area-area-search__block
        dt.js-accordion-btn.p-side-area-area-search__ttl(data-accordion='#side-area-chiba', data-mq='lg')
          | 千葉県
          span.js-accordion-btn__toggle
        dd#side-area-chiba.js-accordion-body(data-mq='lg')
          ul.p-side-area-area-search__list
            li
              a(href='') 稲毛区
            li
              a(href='') 中央区
            li
              a(href='') 花見川区
            li
              a(href='') 緑区
            li
              a(href='') 美浜区
            li
              a(href='') 印西市
            li
              a(href='') 市川市
            li
              a(href='') 浦安市
            li
              a(href='') 柏市
            li
              a(href='') 佐倉市
            li
              a(href='') 匝瑳市
            li
              a(href='') 長生郡
            li
              a(href='') 成田市
            li
              a(href='') 流山市
            li
              a(href='') 野田市
            li
              a(href='') 東金市
            li
              a(href='') 船橋市
            li
              a(href='') 松戸市
            li
              a(href='') 八千代市
            li
              a(href='') 八街市
            li
              a(href='') 四街道市
            li
              a(href='') 酒々井町
            li
              a(href='') 習志野市
            li
              a(href='') 鎌ヶ谷市
      dl.p-side-area-area-search__block
        dt.js-accordion-btn.p-side-area-area-search__ttl(data-accordion='#side-area-yamanashi', data-mq='lg')
          | 山梨県
          span.js-accordion-btn__toggle
        dd#side-area-yamanashi.js-accordion-body(data-mq='lg')
          ul.p-side-area-area-search__list
            li
              a(href='') 上野原市
            li
              a(href='') 大月市
      dl.p-side-area-area-search__block
        dt.js-accordion-btn.p-side-area-area-search__ttl(data-accordion='#side-area-others', data-mq='lg')
          | その他の葬儀場
          span.js-accordion-btn__toggle
        dd#side-area-others.js-accordion-body(data-mq='lg')
          ul.p-side-area-area-search__list
            li
              a(href='') 直営式場一覧
            li
              a(href='') ご安置所一覧
