.p-support
  .p-support__des
    p 悔いのないお葬儀にするためには、事前相談を行った上で、最終的な選択をする事が重要です。
  .p-support-content
    .p-support-content__title
      p 『お葬儀に関してご不明な点はございませんか？』
    ul
      li
        img(src='/images/common/support.png', alt='')
        span.p-support-content__icon
          img(src='/images/common/support_icon.png', alt='')
      li
        p どのようなご質問でも、セレモピアンの経験豊富な女性スタッフがお応えさせていただきます。
        .p-support-content__note
          p ご相談無料・ご予約も不要ですので、ぜひお立ち寄りください。 
    p.p-basic-plan__btn
      a.c-btn.u-blinka(href='http://soudan.ceremore.jp/', target="_blank") セレモピアンに相談する