.p-plan-news {
  background: #fff;
  margin-top: 60px;
  padding: 40px 0;
  font-weight: bold;
  position: relative;
  @each $type in $olors-list {
    &_paper_#{nth($type, 1)} {
      .p-plan-news-top-content:after {
        background: url('/images/common/bg_paper_#{nth($type, 1)}.jpg') left 0 repeat-y;
      }
      .p-plan-news-body-top {
        background: url('/images/common/bg_paper_#{nth($type, 1)}.jpg');
      }
      .p-plan-news-body-main {
        background: #{nth($type, 2)};
        padding: 20px;
      }
    }
  }
  &:first-child {
    margin-top: 0;
  }
  &_paper_yellow {
    .p-plan-news-top-content:after {
      background: url('/images/common/bg_paper_yellow.jpg') left 0 repeat-y;
    }
    .p-plan-news-body-top {
      background: url('/images/common/bg_paper_yellow.jpg');
    }
  } 
  &-top {
    padding: 0 40px;
    position: relative;
    &-content {
      width: 70%;
      padding-right: 25px;
      &:after {
        content: '';
        display: block;
        height: 100%;
        width: 10px;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    h3,h4 {
      font-weight: bold;
    }
    h3 {
      @include fontSize(1.8);
    }
    h4 {
      @include mincho;
      @include fontSize(4);
      &.icon:after {
        content: url('/images/sougi/icon_arrow_01.png');
        margin-left: 10px;
      }
    }
    &__thumbs {
      position: absolute;
      right: 40px;
      top: 0;
      max-width: 30%;
    }
    &__txt {      
      width: 65%;
      br {
        display: block;
      }
      p {
        @include fontSize(1.6);
        line-height: 1.625;
      }
    }
  }

  &-body {
    margin-top: 30px;
    padding: 0 40px;
    br {
      display: none;
    }
    
    &-top {
      border-radius: 1.2rem 1.2rem 0 0;
      color: #fff;
      display: flex;
      justify-content: space-between;
      padding: 20px;
      align-items: center;
      small {
        letter-spacing: -2px;
      } 
      &__price {
        display: flex;
      }
      h3 {
        @include fontSize(2.6);
        &, small {
          @include mincho;
        }
      }
      p {
        @include fontSize(1.8);
      }
      span {
        @include fontSize(2.4);
        font-weight: bold;
        &:nth-child(2):after {
          content: '円〜';
          @include fontSize(2);
        }
        &:nth-child(3):after {
          content: '円';
        }
      }
    }
    &__btn {
      margin-top: 10px;
      a {
        max-width: 100%;
      }
    }
    &__price {
      justify-content: space-between;
      display: flex;
      &-item {
        width: 32%;
        padding-top: 30px;
        display: flex;
        flex-direction: column
      }      
      h4 {
        flex: 1 0 auto;
        background: url('/images/common/bg_paper_red.jpg');
        border-radius: 5px;
        color: #fff;
        @include fontSize(2.0);
        @include mincho;
        text-align: center;
        line-height: 1.3;
        padding: 15px 0;
        margin-bottom: 15px;
      }
      p {
        padding-left: 10px;
        @include fontSize(1.3);
        &:nth-child(2) { font-weight: bold;}
        &.detail {
          font-weight: bold;
          @include fontSize(2.7);
          color: #de475b;
          .large {
            @include fontSize(2.0);
          }
          .small {
            @include fontSize(1.4);
          }
        }
      }
    }
  }
  &--section {
    margin-top: 30px;
  }
  .p-basic-plan__btn.icon {
      position: relative;
      &:after {
        content: url('/images/sougi/icon_arrow_02.png');
        position: absolute;
        left: 30%; 
        top:50%;
        transform: translateY(-50%);
      }
  }
}

@include mqMd {
  .p-plan-news {
    &-top {
      display: flex;
      flex-wrap: wrap;
      &-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 60%
      }
      &__thumbs {
        position: relative;
        right: auto;
        top: auto;
        max-width: 40%;
      }
      &__txt {      
        width: 100%;  
        padding-top: 30px;      
        position: relative;
        &:before {
          content: '';
          display: block;
          height: 100%;
          width: 15px;
          position: absolute;
          left: -40px;
          top: 0;
          background: #ffffff;
        }
      }
    }
    .contentSp {
      padding: calcVw(30);
    }
    &-body {
      margin-top: 30px;
      br {
        display: block;
      }      
      &-top {
        br {
          display: none;
        }
        span {
          &:nth-child(2):after,
          &:nth-child(3):after {
            margin-left: 0.5vw;
          }
        }
      }
      .p-basic-plan__btn {
        margin-top: 10px;
        a {
          max-width: 100%;
        }
      }
      &__price {
        display: flex;
        flex-direction: column;        
        &-item {
          min-width: 100%;
          display: grid;
          grid-template-areas: 
          'l l tr'
          'l l mr'
          'l l br'
        }
        h4 {
          width: 100%;
          max-width: 250px;
          border-radius: 0.4rem;
          grid-area: l;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        p {          
          &:nth-child(1) {
            grid-area: br;
          }
          &:nth-child(2) {
            grid-area: tr;
          }
          &:nth-child(3) {
            grid-area: mr;
          }
        }
      }
    }
  }
};

@include mqSm {
  .p-plan-news {
    margin-top: calcVw(50);
    padding: calcVw(30) 0;
    &-top {
      padding: 0 calcVw(30);
      &-content {
        padding-right: calcVw(40);
        &:after {
          width: calcVw(14);
        }
      }
      &__thumbs {
        width: calcVw(205);
      }
      h3 {
        @include fontSize(1.4,'sp');
      }
      h4 {
        @include fontSize(2.5,'sp');
      }
      p {
      }
      &__txt {
        &:before {          
          left: -4vw;
        }
      }
    }
    .contentSp {
      @include fontSize(1.3,'sp')
    }
    &-body {
      padding: 0 calcVw(30);
      &-top {
        padding: calcVw(30);
        h3 {
          @include fontSize(1.8,'sp');
        }
        p {
          @include fontSize(1.1,'sp');
        }
        small {    
          @include fontSize(0.9,'sp')
        }
        span {
          @include fontSize(1.8,'sp');
          &:nth-child(2):after,
          &:nth-child(3):after {
            @include fontSize(1.2,'sp');
          }
        }
      }
      &-main {
        @include fontSize(1.3,'sp');
        padding: calcVw(30);
      }
      &__price {
        &-item {
          padding-top: calcVw(10);
        }
        h4 {
          margin-bottom: calcVw(5);
          @include fontSize(1.5,'sp');
          padding: calcVw(25) 0;
          width: 30vw;
        }
        p {
          @include fontSize(1.1,'sp');
          padding-left: calcVw(25);
          &:nth-child(1) {
            @include fontSize(1.0,'sp'); 
          }
          &:nth-child(2) {
            @include fontSize(1.2,'sp');
          }
          &:nth-child(3) {
            @include fontSize(2.2,'sp');
          }
          &.detail {
            .large {
              @include fontSize(1.5,'sp');
            }
            .small {
              @include fontSize(1.1,'sp');
            }
          }
        }
      }
    }
    &--section {
      margin-top: calcVw(40);
    }
    .p-basic-plan__btn.icon {
      &:after {
        left: 13vw;
      }
    }

  }
};