.p-steps-group {
  display: flex;
  justify-content: space-between;
  counter-reset: section;
  li {
    margin-top: 30px;
    width: 32%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
  }
  .items {
    &-title,
    &-content {
      font-weight: bold;
      padding: 20px;
    }
    &-title {
      background: #cec09f;
      color: #fff;
      flex: 1 0 auto;
      &:before {
        @include mincho;
        font-weight: bold;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        text-align: center;
        counter-increment: section;
        content: counter(section);
        background: #fff;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        line-height: 50px;
        color: black;
        @include fontSize(2.8);
      }
    	h3 {font-weight: bold;}
    }
    &-content {
      background: #fff;
      @include fontSize(1.5);
      flex: 1 0 auto;
    }
  }
}

@include mqMd {
  .p-steps-group {
  	flex-direction: column;
    li {
    	width: 100%;
      border-radius: 5px;
    }
    .items {
      &-title,
      &-content {
        padding: 20px;
      }
      &-title {        
        display: flex;
        align-items: center;
        h3 { 
        	width: 83%;
          padding-left: 3vw;
        }
        &:before {
        	width: 17%;
          display: block;
          margin: 0 auto;
          margin-bottom: 0;
          width: 40px;
          height: 40px;
          line-height: 40px;
          color: black;
        }
      }
      &-content {
        background: #fff;
      }
    }
  }
}
@include mqSm {
  .p-steps-group {
    li {
      margin-top: calcVw(25);
    }
    .items {
      &-title {
        h3 { 
          font-size: calcVw(28);
        }
        p {
          font-size: calcVw(20);
        }
        &:before {
          @include fontSize(2.1,'sp');
        }
      }
      &-content {
        @include fontSize(1.5,'sp');
      }
    }
  }
}