extend /_template/_two-column
append variables
  //- 変更可能
  - const pageTitle= "セレモアの葬儀プラン";
  - const pageDescription= site.description;
  //- - const pageKeywords= site.keywords; キーワードは必要なし。
  //- 任意
  - const pageOgpTitle= pageTitle;
  - const pageOgpImage= site.ogpImage;
  - const pageOgpType= "article";

block header
  .p-page-mv.js-bgcheck-image
    .p-page-mv__inner
      h1.p-page-mv__ttl.js-bgcheck-target セレモアの葬儀プラン
      
  nav.p-breadcrumb(aria-label="Breadcrumb")
    .l-container
      +breadcrumb([
        ["お葬儀基本プラン一覧", "/"],
        ["セレモアの葬儀プラン", ""]
      ])

  +heading-large('お葬儀基本プラン一覧')

block main

block side
  include /_partial/_side_funeral_ceremony.pug
